<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text mb-0 checkbox">
      <input type="checkbox" aria-label="Toggle checked" (click)="toggleChecked(item)" [checked]="item.checked">
    </label>
  </div>
  <span *ngIf="!editingItem; else editableItem" class="form-control h-auto"
    [ngClass]="{'checked': item.checked}" (click)="editItem(item)">{{ item.msg }}
  </span>
  <ng-template #editableItem>
    <form class="form-control h-auto" [ngClass]="{'checked': item.checked}" (ngSubmit)="updateMessage(item)">
      <app-todo-input #input [inputValue]="item.msg" [placeholderText]="item.msg"
        (inputValueChange)="newText = $event" (submitValue)="updateMessage(item)"></app-todo-input>
      <div class="mt-2 button-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="updateMessage(item)" [disabled]="!newText.trim() || newText === item.msg">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.003 3h2.997v5h-2.997v-5zm8.997 1v20h-24v-24h20l4 4zm-19 5h14v-7h-14v7zm16 4h-18v9h18v-9z"/></svg>
          Save
        </button>
        <button type="button" class="btn btn-danger" (click)="deleteItem(item)">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
          Delete
        </button>
        <button type="button" class="btn btn-secondary" (click)="editItem(null)">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.427 3.021h-7.427v-3.021l-6 5.39 6 5.61v-3h7.427c3.071 0 5.561 2.356 5.561 5.427 0 3.071-2.489 5.573-5.561 5.573h-7.427v5h7.427c5.84 0 10.573-4.734 10.573-10.573s-4.733-10.406-10.573-10.406z"/></svg>
          Cancel
        </button>
      </div>
    </form>
  </ng-template>
</div>
