:host {
  position: relative;
  display: block;
}
.form-control {
  height: 3.2rem;
  min-height: 2.5rem;
  max-height: 10rem;
}
.smaller-width {
  padding-right: 42px;
}
.arrow {
  cursor: pointer;
  position: absolute;
  right: 0.25rem;
  top: 0;
  padding: 0.7rem 0.4rem;
  height: 40px;
  width: auto;
  fill: #9db0a1;

  &:hover {
    opacity: 0.7;
  }
}
